{
 "config": {
  "network": {
   "extern-netip": "192.168.1",
   "extern-interface": "eth1",
   "extern-dns-fwd": "8.8.8.8",
   "netmask": "255.255.255.0",
   "extern-network-mode": "dhcp"
  },
  "general": {
   "vserver-path": "/var/lib/lxc/vserver",
   "handle-deamons": "false",
   "stage": "/stage",
   "arch": "i386"
  },
  "customer": {
   "state": "Rheinland-Pfalz",
   "street": "Amerikastrasse 1",
   "localbranch": 123,
   "name": [
    "Fachhochschule Kaiserslautern",
    "Fachbereich Informatik / Mikrosystemtechnik"
   ],
   "zip": "66482",
   "pobox": "-",
   "iso_country": "DE",
   "countrycode": 49,
   "address": "Zweibruecken",
   "timezone": "Europe/Berlin",
   "areacode": 6332,
   "country": "Deutschland"
  },
  "locales": {
   "locale": "de_DE",
   "lang": "de"
  },
  "fs": {
   "raidlevel": 1,
   "disk0": "/dev/sda"
  }
 },
 "container": {
  "host": {
   "install": {
    "dist": "sarge",
    "os": "debian",
    "basepackages": "syslog-ng ssmtp cron-apt libnss-ldap libpam-ldap ldap-utils"
   },
   "generate": {
    "network": {
     "netmask": "255.255.255.0",
     "netip": "192.168.1.1"
    }
   }
  },
  "svc": {
   "install": {
    "dist": "trusty",
    "os": "ubuntu",
    "basepackages": "syslog-ng ssmtp cron-apt libnss-ldap libpam-ldap ldap-utils x2go"
   },
   "generate": {
    "network": {
     "netmask": "255.255.255.0",
     "netip": "192.168.1.2"
    }
   }
  }
 }
}